:root {
    --base-color: #f0edeb;
}

@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-light-webfont.woff"),
        url("fonts/ubuntu-light-webfont.woff2");
    font-weight: 300;
    font-size: normal;
}

@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-regular-webfont.woff"),
        url("fonts/ubuntu-regular-webfont.woff2");
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-medium-webfont.woff"),
        url("fonts/ubuntu-medium-webfont.woff2");
    font-weight: 500;
    font-size: normal;
}

@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-bold-webfont.woff"),
        url("fonts/ubuntu-bold-webfont.woff2");
    font-weight: bold;
    font-size: normal;
}

@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-italic-webfont.woff"),
        url("fonts/ubuntu-italic-webfont.woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-bolditalic-webfont.woff"),
        url("fonts/ubuntu-bolditalic-webfont.woff2");
    font-weight: bold;
    font-style: italic;
    font-size: normal;
}


body {
    margin: 0;
    font-family: 'ubuntu';
    font-size: 1rem;
    background-color: var(--base-color);
}

#game-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

#game-title {
    font-size: 2.5rem;
    font-weight: 700;
}

#score-container {
    font-size: 1.2rem;
    font-weight: 600;
}

#grid-container {
    width: 310px;
    height: 310px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    column-gap: 5px;
    row-gap: 5px;
    background-color: dimgray;
}

.grid-tile {
    background-color: var(--base-color);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#round-number {
    font-size: 1.5rem;
    font-weight: 700;
}

#turn-player {
    font-size: 2rem;
    font-weight: 700;
}